* {
    padding: 0;
    margin: 0;
}

body {
    background-color: purple; 
    text-align: center;   
}

section p {
    color: whitesmoke;
    text-align: center;
}

section h1 {
    color: aqua;
}